# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.env/
.venv/
env/
venv/

# Test/coverage reports
.coverage
.cache/
.pytest_cache/
htmlcov/
*.cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build/dist
build/
dist/
*.egg-info/
.mypy_cache/

# Logs
*.log

# Local files
local/